In [ ]:
# PySpark Join is used to combine two dataframes and by chaining these we can join multiple dataframes. 
# it supports all basic join type operations like INNER, LEFT OUTER, RIGHT OUTER JOIN, LEFT ANTI JOIN, LEFT SEMI JOIN, CROSS JOIN and SELF JOIN etc. 
# PySpark SQL joins comes with more optimization using dataframes.

In [3]:
import findspark
findspark.init()

In [4]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

In [5]:
spark = SparkSession.builder.appName('cgpysparksqllabs').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/02 10:37:33 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/02/02 10:37:34 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [6]:
emp = [(1,"Smith",-1,"2018","10","M",3000),\
      (2, "Rose",1,"2010","20","M",4000),\
      (3,"Williams",1,"2010","10","M",1000),\
      (4,"Jones",2,"2005","10","F",2000),\
      (5,"Brown",2,"2010","40","F",4000), \
      (6,"Hudson",2,"2015","34","M",5000)]

In [7]:
empColumns = ["emp_id","name", "superior_emp_id","year_joined","emp_dept_id","gender","salary"]

In [8]:
empDF = spark.createDataFrame(data=emp, schema=empColumns)
empDF.printSchema()
empDF.show(truncate=False)

root
 |-- emp_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- superior_emp_id: long (nullable = true)
 |-- year_joined: string (nullable = true)
 |-- emp_dept_id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

+------+--------+---------------+-----------+-----------+------+------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+--------+---------------+-----------+-----------+------+------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |
|2     |Rose    |1              |2010       |20         |M     |4000  |
|3     |Williams|1              |2010       |10         |M     |1000  |
|4     |Jones   |2              |2005       |10         |F     |2000  |
|5     |Brown   |2              |2010       |40         |F     |4000  |
|6     |Hudson  |2              |2015       |34         |M     |5000  |
+------+--------+---------------+-----------+-----------+------+------+

In [9]:
dept = [("Finance", 10),\
       ("Marketing", 20),\
       ("Sales",30),\
       ("IT", 40)]

In [10]:
deptColumns = ["dept_name", "dept_id"]

In [11]:
deptDF = spark.createDataFrame(data=dept, schema=deptColumns)

In [12]:
deptDF.printSchema()
deptDF.show(truncate=False)

root
 |-- dept_name: string (nullable = true)
 |-- dept_id: long (nullable = true)

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|Finance  |10     |
|Marketing|20     |
|Sales    |30     |
|IT       |40     |
+---------+-------+

In [16]:
empDF.join(deptDF,empDF.emp_dept_id == deptDF.dept_id,"inner").show(truncate=False)

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |Finance  |10     |
|3     |Williams|1              |2010       |10         |M     |1000  |Finance  |10     |
|4     |Jones   |2              |2005       |10         |F     |2000  |Finance  |10     |
|2     |Rose    |1              |2010       |20         |M     |4000  |Marketing|20     |
|5     |Brown   |2              |2010       |40         |F     |4000  |IT       |40     |
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [17]:
empDF.join(deptDF,empDF.emp_dept_id == deptDF.dept_id,"outer").show(truncate=False)

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |Finance  |10     |
|3     |Williams|1              |2010       |10         |M     |1000  |Finance  |10     |
|4     |Jones   |2              |2005       |10         |F     |2000  |Finance  |10     |
|2     |Rose    |1              |2010       |20         |M     |4000  |Marketing|20     |
|null  |null    |null           |null       |null       |null  |null  |Sales    |30     |
|6     |Hudson  |2              |2015       |34         |M     |5000  |null     |null   |
|5     |Brown   |2              |2010       |40         |F     |4000  |IT       |40     |
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [18]:
empDF.join(deptDF,empDF.emp_dept_id == deptDF.dept_id,"full").show(truncate=False)

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |Finance  |10     |
|3     |Williams|1              |2010       |10         |M     |1000  |Finance  |10     |
|4     |Jones   |2              |2005       |10         |F     |2000  |Finance  |10     |
|2     |Rose    |1              |2010       |20         |M     |4000  |Marketing|20     |
|null  |null    |null           |null       |null       |null  |null  |Sales    |30     |
|6     |Hudson  |2              |2015       |34         |M     |5000  |null     |null   |
|5     |Brown   |2              |2010       |40         |F     |4000  |IT       |40     |
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [20]:
empDF.join(deptDF,empDF.emp_dept_id == deptDF.dept_id,"full_outer").show(truncate=False)

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |Finance  |10     |
|3     |Williams|1              |2010       |10         |M     |1000  |Finance  |10     |
|4     |Jones   |2              |2005       |10         |F     |2000  |Finance  |10     |
|2     |Rose    |1              |2010       |20         |M     |4000  |Marketing|20     |
|null  |null    |null           |null       |null       |null  |null  |Sales    |30     |
|6     |Hudson  |2              |2015       |34         |M     |5000  |null     |null   |
|5     |Brown   |2              |2010       |40         |F     |4000  |IT       |40     |
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [21]:
empDF.join(deptDF,empDF.emp_dept_id == deptDF.dept_id,"left").show(truncate=False)

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |Finance  |10     |
|3     |Williams|1              |2010       |10         |M     |1000  |Finance  |10     |
|2     |Rose    |1              |2010       |20         |M     |4000  |Marketing|20     |
|6     |Hudson  |2              |2015       |34         |M     |5000  |null     |null   |
|4     |Jones   |2              |2005       |10         |F     |2000  |Finance  |10     |
|5     |Brown   |2              |2010       |40         |F     |4000  |IT       |40     |
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [22]:
empDF.join(deptDF,empDF.emp_dept_id == deptDF.dept_id,"left_outer").show(truncate=False)

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |Finance  |10     |
|3     |Williams|1              |2010       |10         |M     |1000  |Finance  |10     |
|2     |Rose    |1              |2010       |20         |M     |4000  |Marketing|20     |
|6     |Hudson  |2              |2015       |34         |M     |5000  |null     |null   |
|4     |Jones   |2              |2005       |10         |F     |2000  |Finance  |10     |
|5     |Brown   |2              |2010       |40         |F     |4000  |IT       |40     |
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [24]:
empDF.join(deptDF,empDF.emp_dept_id == deptDF.dept_id, "right").show(truncate=False)

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|4     |Jones   |2              |2005       |10         |F     |2000  |Finance  |10     |
|3     |Williams|1              |2010       |10         |M     |1000  |Finance  |10     |
|1     |Smith   |-1             |2018       |10         |M     |3000  |Finance  |10     |
|2     |Rose    |1              |2010       |20         |M     |4000  |Marketing|20     |
|null  |null    |null           |null       |null       |null  |null  |Sales    |30     |
|5     |Brown   |2              |2010       |40         |F     |4000  |IT       |40     |
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [25]:
empDF.join(deptDF,empDF.emp_dept_id == deptDF.dept_id, "right_outer").show(truncate=False)

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|4     |Jones   |2              |2005       |10         |F     |2000  |Finance  |10     |
|3     |Williams|1              |2010       |10         |M     |1000  |Finance  |10     |
|1     |Smith   |-1             |2018       |10         |M     |3000  |Finance  |10     |
|2     |Rose    |1              |2010       |20         |M     |4000  |Marketing|20     |
|null  |null    |null           |null       |null       |null  |null  |Sales    |30     |
|5     |Brown   |2              |2010       |40         |F     |4000  |IT       |40     |
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [26]:
empDF.join(deptDF,empDF.emp_dept_id == deptDF.dept_id,"leftsemi").show(truncate=False)

+------+--------+---------------+-----------+-----------+------+------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+--------+---------------+-----------+-----------+------+------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |
|3     |Williams|1              |2010       |10         |M     |1000  |
|4     |Jones   |2              |2005       |10         |F     |2000  |
|2     |Rose    |1              |2010       |20         |M     |4000  |
|5     |Brown   |2              |2010       |40         |F     |4000  |
+------+--------+---------------+-----------+-----------+------+------+

In [27]:
empDF.join(deptDF, empDF.emp_dept_id == deptDF.dept_id,"leftanti").show(truncate=False)

+------+------+---------------+-----------+-----------+------+------+
|emp_id|name  |superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+------+---------------+-----------+-----------+------+------+
|6     |Hudson|2              |2015       |34         |M     |5000  |
+------+------+---------------+-----------+-----------+------+------+

In [28]:
empDF.alias("emp1").join(empDF.alias("emp2"),\
                        col("emp1.superior_emp_id") == col("emp2.emp_id"),"inner")\
                        .select(col("emp1.emp_id"),col("emp1.name"),\
                               col("emp2.emp_id").alias("superior_emp_id"),\
                               col("emp2.name").alias("superior_emp_name")).show(truncate=False)

+------+--------+---------------+-----------------+
|emp_id|name    |superior_emp_id|superior_emp_name|
+------+--------+---------------+-----------------+
|2     |Rose    |1              |Smith            |
|3     |Williams|1              |Smith            |
|4     |Jones   |2              |Rose             |
|5     |Brown   |2              |Rose             |
|6     |Hudson  |2              |Rose             |
+------+--------+---------------+-----------------+

In [29]:
# create PySpark SQL temp view/ tables
empDF.createOrReplaceTempView("EMP")
deptDF.createOrReplaceTempView("DEPT")

In [30]:
joinDF = spark.sql("select * from EMP e, DEPT d where e.emp_dept_id == d.dept_id").show(truncate=False)

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |Finance  |10     |
|3     |Williams|1              |2010       |10         |M     |1000  |Finance  |10     |
|4     |Jones   |2              |2005       |10         |F     |2000  |Finance  |10     |
|2     |Rose    |1              |2010       |20         |M     |4000  |Marketing|20     |
|5     |Brown   |2              |2010       |40         |F     |4000  |IT       |40     |
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [ ]:
joinDF2 = spark.sql("select * from EMP e INNER JOIN DEPT d on e.emp_dept_id == d.dept_id").show(truncate=False)

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |Finance  |10     |
|3     |Williams|1              |2010       |10         |M     |1000  |Finance  |10     |
|4     |Jones   |2              |2005       |10         |F     |2000  |Finance  |10     |
|2     |Rose    |1              |2010       |20         |M     |4000  |Marketing|20     |
|5     |Brown   |2              |2010       |40         |F     |4000  |IT       |40     |
+------+--------+---------------+-----------+-----------+------+------+---------+-------+