In [2]:
import findspark
findspark.init()

In [3]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField,StringType, IntegerType
from pyspark.sql.types import ArrayType, DoubleType, BooleanType
from pyspark.sql.functions import col,array_contains

In [4]:
spark = SparkSession.builder.appName('cgpysparksqllabs').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/02 11:28:09 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/02/02 11:28:10 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [5]:
df = spark.read.csv("/home/adminuser/zipcodes.csv")

In [6]:
df.printSchema()

root
 |-- _c0: string (nullable = true)

In [7]:
df2 = spark.read.option("header",True).csv("/home/adminuser/zipcodes.csv")

In [8]:
df2.printSchema()

root
 |-- <!DOCTYPE html>: string (nullable = true)

In [9]:
df3 = spark.read.options(header='True',delimiter=',').csv("/home/adminuser/zipcodes.csv")
df3.printSchema()

root
 |-- <!DOCTYPE html>: string (nullable = true)

In [13]:
schema = StructType() \
      .add("RecordNumber", IntegerType(),True) \
      .add("Zipcode",IntegerType(),True) \
      .add("ZipCodeType",StringType(),True) \
      .add("City",StringType(),True) \
      .add("State",StringType(),True) \
      .add("LocationType",StringType(),True) \
      .add("Lat",DoubleType(),True) \
      .add("Long",DoubleType(), True) \
      .add("Xaxis", IntegerType(),True) \
      .add("Yaxis", DoubleType(), True) \
      .add("Zaxis", DoubleType(), True)\
      .add("WorldRegion", StringType(), True) \
      .add("Country", StringType(), True) \
      .add("LocationText", StringType(), True) \
      .add("Location", StringType(), True) \
      .add("Decommissioned", BooleanType(), True)\
      .add("TaxReturnsFiled",StringType(), True) \
      .add("EstimatedPopulation",IntegerType(), True)\
      .add("TotalWages", IntegerType(),True)\
      .add("Notes", StringType(),True)

df_with_schema = spark.read.format("csv").option("header", True).schema(schema).load("/home/adminuser/zipcodes.csv")
df_with_schema.printSchema()
#df_with_schema.show(truncate=False)

root
 |-- RecordNumber: integer (nullable = true)
 |-- Zipcode: integer (nullable = true)
 |-- ZipCodeType: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- LocationType: string (nullable = true)
 |-- Lat: double (nullable = true)
 |-- Long: double (nullable = true)
 |-- Xaxis: integer (nullable = true)
 |-- Yaxis: double (nullable = true)
 |-- Zaxis: double (nullable = true)
 |-- WorldRegion: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- LocationText: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Decommissioned: boolean (nullable = true)
 |-- TaxReturnsFiled: string (nullable = true)
 |-- EstimatedPopulation: integer (nullable = true)
 |-- TotalWages: integer (nullable = true)
 |-- Notes: string (nullable = true)

In [11]:
# writing the transformed output to csv file 
df2.write.option("header", True).csv("/home/adminuser/newzipcodes.csv")